@import '../../media';

.hmx_gd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;

  @include for-size(desktop-up) {
    grid-gap: 3%;
  }

  @include for-size(smaller-desktop) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  @include for-size(tablet-landscape-up) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
}
