@import '../../../media';

.dash-home {
  .p_sec {
    margin-bottom: 100px;
  }

  .adv {
    height: 350px;
    background: rgba(color(approved), 0.1);
    border-radius: 10px;
    margin-bottom: 100px;

    @include for-size(smaller-desktop) {
      height: 300px;
    }

    @include for-size(tablet-portrait-up) {
      height: 250px;
    }

    @include for-size(phone-only) {
      height: auto;
      flex-direction: column;
    }

    .text_sec {
      width: 50%;
      min-width: 300px;
      height: 100%;
      padding: 4%;

      @include for-size(phone-only) {
        width: 100%;
        margin: 20px 0 30px;

        .info {
          margin-bottom: 50px;
        }
      }

      a {
        font-weight: bold;
        font-size: 0.8em;
      }
    }

    .img_sec {
      height: 100%;
      padding-top: 1%;
      padding-right: 1%;

      @include for-size(phone-only) {
        padding: 2% 2% 0;
        // height: 200px;
      }

      img {
        object-position: bottom;
        display: block;
      }
    }
  }

  .course-section {
    max-width: 900px;

    .cs_nav {
      margin-bottom: 30px;

      @include for-size(phone-only) {
        flex-direction: column;
        align-items: flex-start;
      }

      h2 {
        color: color(text) !important;
      }

      p {
        color: color(theme) !important;
        font-size: 0.9em;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}

.info_fx {
  border-radius: 10px;
  width: 100%;
  height: auto;

  .c_card_nav {
    width: 100%;

    h2 {
      color: color(text) !important;
    }
  }

  .info_con {
    margin-top: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-grow: 1;
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding: 20px;

    .n_available {
      height: 100%;
      width: 100%;

      p {
        margin-top: 10px;
      }
    }

    &:hover {
      overflow-y: auto;
    }

    @include for-size(smaller-desktop) {
      overflow-y: auto;
    }
  }
}
