@import "../../media";

.dashboard {
  height: 100%;
  width: 100%;
  position: relative;
  background: color(shade);
  // overflow: auto;

  .dh-aside {
    max-width: 300px;
    min-width: 250px;
    position: sticky;
    top: 0;
    height: 100vh;
    transition: 0.2s ease;

    .contents {
      z-index: 0;
      position: relative;
      width: 100%;
      height: 100%;
    }

    @include for-size(tablet-landscape-up) {
      width: 0;
      min-width: 0;
      overflow: hidden;

      &.open {
        min-width: 250px;
      }
    }
  }

  .dh-main {
    flex-grow: 1;
    // height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    margin-top: 100px;

    .contents {
      padding: 3% 5%;
      height: 100%;
      width: 100%;

      .dash-con {
        flex-grow: 1;
        width: 100%;
        min-height: calc(100vh - 200px);
      }

      @include for-size(tablet-landscape-up) {
        width: calc(100vw - 8px);
      }

      .dash-footer {
        width: 100%;
        text-align: center;
        margin-top: 5%;
      }
    }
  }
}
