.dashboard {
  .dh-aside {
    @apply sticky top-0 h-screen transition-all duration-200 min-w-0 w-0 overflow-hidden;

    &.open {
      min-width: 200px;
    }

    @screen lg {
      min-width: 200px;
      @apply overflow-visible;
    }
  }

  .dh-main {
    // min-height: calc(100vh - 100px);
    min-height: 100vh;

    .content {
      width: calc(100vw - 40px);

      .content-sec {
        // min-height: calc(100vh - 100px);
      }

      @screen lg {
        width: 100%;
      }

      .dash-con {
        flex-grow: 1;
        width: 100%;
      }
    }
  }
}
