@import '../../media';

.side_list_layout {
  width: 100%;
  @include for-size(phone-only) {
    flex-direction: column;
  }

  .side_list {
    margin-right: 50px;
    @include for-size(phone-only) {
      margin-right: 20px;
      margin-bottom: 30px;
      width: 100%;
    }

    ul {
      @include for-size(phone-only) {
        width: 30%;
      }
      li {
        margin: 0px 0 15px;
        @include for-size(phone-only) {
          margin-bottom: 10px;
        }
        .side_link {
          color: color(text);
          white-space: nowrap;
          font-size: 0.9em;
          padding: 5px 20px;

          @include for-size(smaller-desktop) {
            font-size: 0.8em;
            padding: 6px 20px;
          }

          @include for-size(phone-only) {
            display: block;
          }

          &.active {
            background: color(secondary);
            color: white;
            box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
          }
        }
      }
    }
  }
}
