@import "../../media";

.cre_cx {
  width: 100%;

  form {
    width: 100%;
    max-width: 700px;
    margin-top: 50px;

    .input-div {
      margin-bottom: 30px;

      &.pay_summ {
        small {
          display: block;
          cursor: pointer;
        }
      }
    }

    .sec_2 {
      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax(#{"min(200px, 100%)"}, 1fr)
      );
      column-gap: 30px;
      align-items: flex-end;

      .radx {
        button {
          font-size: 0.8em;
          margin-bottom: 0;

          &::before {
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .sec_4 {
      .cximg {
        p {
          color: color(theme);
          text-decoration: underline;
          cursor: pointer;
          margin-bottom: 10px;
        }
      }
    }
  }
}
