@import '../../media';

.cx_det__nav {
  padding-bottom: 10px;
  margin-bottom: 30px;
  overflow: hidden;
  width: 100%;

  ul {
    padding-right: 10px;
    overflow-x: auto;
  }

  .cx_nav_item {
    cursor: pointer;
    margin-right: 25px;

    a {
      padding: 5px 15px;
      border-radius: 5px;
      white-space: nowrap;
      display: block;
      font-size: 0.9em;

      &.__active {
        color: color(theme);
        font-weight: bold;
        background: rgba(color(theme), 0.1);
        color: color(theme);
      }
    }
  }
}
