@import "../../media";

.cx_ovx {
  .ac_crd {
    display: grid;
    grid-template-columns: 50% 40%;

    @include for-size(smaller-desktop) {
      display: block;
    }
  }

  .info_sec {
    margin-top: 100px;
    max-width: 1000px;

    .info {
      margin-bottom: 50px;
    }

    .list_info {
      h2 {
        margin-bottom: 20px;
      }

      .list {
        position: relative;
        margin-bottom: 20px;
        padding-left: 40px;

        span {
          position: absolute;
          left: 0;
          top: 3px;
          width: 25px;
          height: 25px;
          border-radius: 100%;
          background: color(theme);

          p {
            color: white;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
