@import "../../media";

.profile {
  max-width: 1000px;

  @include for-size(desktop-up) {
    flex-direction: column-reverse;
  }

  .form_sec {
    padding-top: 25px;
    width: 100%;
    max-width: 600px;

    @include for-size(desktop-up) {
      max-width: 700px;
    }

    @include for-size(tablet-portrait-up) {
      margin-top: 50px;
    }

    h2 {
      margin-bottom: 20px;
    }
    .form {
      width: 100%;
      padding: 40px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;

      @include for-size(tablet-portrait-up) {
        display: block;
      }

      .input-div {
        &:nth-child(7) {
          grid-column: 1/3;
        }
      }

      .btn {
        grid-column: 1/3;
        width: 60%;
      }
    }
  }

  .pic_sec {
    width: 100%;
    max-width: 300px;
    padding-top: 75px;
    position: relative;

    .edit {
      position: absolute;
      top: 0;
      width: 100%;
      cursor: pointer;

      .img-sec {
        margin-bottom: 5px;

        img {
          display: block;
          width: 150px;
          height: 150px;
          border-radius: 100%;
          overflow: hidden;
        }
      }
    }

    .text-sec {
      padding: 120px 20px 20px;
      min-height: 400px;

      .e_sec {
        width: 100%;
        margin-bottom: 20px;
        font-weight: bold;

        small {
          cursor: pointer;
        }
      }

      .c_img {
        width: 100%;
        flex-grow: 1;
      }

      p {
        font-size: 0.85em;

        &.edit_update {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      img {
        margin-top: 25px;
        width: 30px;

        &.p_sum {
          width: 50%;
          margin-bottom: 10px;
        }
      }
    }
  }

  &.bio {
    background: white;
    width: 90%;
    max-width: 500px;
    min-width: 250px;

    .form_sec {
      @include for-size(phone-only) {
        margin-top: 0 !important;
      }
    }

    .form {
      display: block !important;
      @include for-size(phone-only) {
        padding: 10px 10px 30px !important;
      }

      h3 {
        color: color(text);
        margin-bottom: 30px;
      }

      .input-div {
        margin-bottom: 0;
      }

      small {
        margin-bottom: 20px;
        display: block;
        color: color(text);
      }

      input[type="textarea"] {
        height: 300px;
      }

      button {
        margin-top: 20px;
      }
    }
  }

  &.password {
    max-width: 500px;
    width: auto;

    .form {
      display: block;

      .title {
        margin-bottom: 30px;
      }
    }
  }
}
