@import '../../media';

.stdx {
  width: 100%;
}

.indicators_stdx {
  flex-wrap: wrap;
  margin-top: 30px;

  .var {
    margin: 0 20px 10px 0;

    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 100%;

      &.off {
        background: color(off);
      }

      &.sec {
        background: color(secondary);
      }

      &.theme {
        background: color(theme);
      }
    }

    small {
      margin-left: 20px;
    }
  }
}
