@import '../../media';

.search_file {
  white-space: nowrap;
  margin-bottom: 30px;
  width: 100%;

  .input-div {
    margin-bottom: 0;
    max-width: 300px;
    margin-left: 30px;

    .input-type {
      background: white;
      box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.1);
    }
  }
}
