.al_clx {
  width: 100%;

  .al_nav_sec {
    width: 100%;

    .btn {
      max-width: 200px;
    }
  }

  .creat_crs {
    width: 90vh;
    max-width: 500px;
    min-height: 300px;
    padding: 30px;
    background: white;
  }
}
