@import "../../../media";

.ft_sx {
  min-height: 300px;
  height: auto;
  background: color(theme);

  .ft_con {
    flex-grow: 1;

    .contents {
      width: 100%;
      flex-wrap: wrap;
      color: white;
      font-weight: 500;
      padding: 100px 0 70px;

      @include for-size(tablet-landscape-up) {
        padding: 100px 0;
      }

      .logo {
        width: 100px;
      }

      .na_gt {
        min-width: 200px;
        margin-bottom: 30px;

        @include for-size(phone-only) {
          margin: 30px 0;
        }

        h3 {
          color: color(secondary);
          margin-bottom: 20px;
          letter-spacing: 0.5em;
        }

        .links {
          color: inherit;
          padding: 5px 10px 5px 0;

          img {
            width: 15px;
            margin-right: 10px;
          }
        }

        .icons {
          width: 100%;
        }
      }
    }

    .reserved {
      width: 100%;

      @include for-size(phone-only) {
        justify-content: flex-start;
      }

      p {
        color: white;
        padding: 0 0 50px;
      }
    }
  }
}

.buildings {
  width: 100vw;
  // height: 500px;
  max-height: 500px;
  object-fit: contain;
  object-position: center 50px;
}
