@import '../../../media';

.mx_courx {
  .nt_found {
    flex-grow: 1;

    img {
      width: 200px;
    }

    .text {
      margin: 10px 0 40px;
    }

    button {
      max-width: 400px;
    }
  }
}
