@import '../../../media';

.split_sec {
  .sel-p-type {
    @apply border border-gray-300 mb-2 rounded-md p-2 cursor-pointer;

    &[data-active='true'] {
      border-color: rgba(color(theme), 0.4);

      p {
        @apply text-theme;
      }

      .ch_mk {
        @apply bg-theme border-theme;

        img {
          display: block;
        }
      }
    }

    &:hover {
      @apply bg-v_light;
    }
  }
}

.summary {
  .input-div {
    margin-bottom: 0px;
  }
}
