@import '../../../media';

.details {
  margin-bottom: 50px;
  .container {
    .details_con {
      display: grid;
      grid-template-columns: 55% 40%;
      grid-gap: 5%;
      justify-items: stretch;

      @include for-size(tablet-landscape-up) {
        width: 100%;
      }

      @include for-size(tablet-portrait-up) {
        grid-template-columns: 50% 50%;
      }

      @include for-size(phone-only) {
        display: block;
      }
    }

    .img-sec {
      border-radius: 5px;
      // max-width: 300px;

      @include for-size(tablet-portrait-up) {
        margin-right: 30px;
      }

      @include for-size(phone-only) {
        margin: 0 0 40px;
        justify-content: center;
      }

      img {
        border-radius: 10px;
        max-height: 300px;

        @include for-size(tablet-portrait-up) {
          width: 100%;
          height: 100%;
        }
      }
    }

    .text-sec {
      margin-bottom: 20px;
      flex-grow: 1;
      height: 100%;
      h2 {
        font-size: 1.1em;
        margin-bottom: 10px;
        color: color(theme);
        @include for-size(phone-only) {
          font-size: 1em;
          margin-bottom: 10px;
        }
      }

      .clipped-text {
        margin-bottom: 10px;
      }

      p {
        font-size: 0.8em;
      }

      .c_inf {
        margin: 10px 0 30px;
        flex-wrap: wrap;
        max-width: 300px;

        @include for-size(tablet-portrait-up) {
          max-width: 220px;
        }

        @include for-size(phone-only) {
          margin: 0 0 30px;
        }
        small {
          color: color(theme);
          font-size: 0.7em;
          white-space: nowrap;
          margin-right: 5px;
        }
      }

      .ext {
        max-width: 200px;
        font-weight: 600;
        color: white;
        @include for-size(phone-only) {
          font-size: 0.9em;
        }
      }
    }

    .summary {
      grid-column: 2/3;
      border-top: 1px solid color(fade);
      padding: 50px 0 0;
      margin-top: 50px;

      @include for-size(phone-only) {
        margin-bottom: 100px;
      }

      .contents {
        width: 80%;

        .cost-analysis {
          .flex-row {
            margin-bottom: 10px;

            &.strong {
              font-weight: bold;
            }
          }
        }
      }

      .checkout {
        margin-top: 50px;
        .cx-hdx,
        .input-div {
          margin-bottom: 20px;
        }

        .btn {
          width: 100%;
        }
      }

      &.split_sec {
        h3 {
          margin-bottom: 10px;
        }

        .sel-p-type {
          border: 1px solid rgba(#000, 0.1);
          margin-bottom: 10px;
          border-radius: 5px;
          padding: 10px;
          cursor: pointer;

          &[data-active='true'] {
            border-color: rgba(color(theme), 0.4);
          }
        }
      }
    }
  }
}
