@import "../../media";

.side_nav {
  background: color(theme);
  width: 100%;
  height: 100%;

  .contents {
    padding: 80px 0 0;

    @include for-size(phone-only) {
      padding: 20px 0 0;
    }

    .profile_pic {
      width: 100%;
      margin-bottom: 40px;

      .img-sec {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        overflow: hidden;
        box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;

        @include for-size(phone-only) {
          width: 100px;
          height: 100px;
        }
      }

      p {
        color: white;
      }
    }

    .link-sec {
      .link-item {
        padding: 10px 40px;
        border-radius: 0px 10px 10px 0px;
        margin-bottom: 20px;

        @include for-size(phone-only) {
          margin-bottom: 10px;
        }

        img {
          margin-right: 20px;
          width: 30px;

          @include for-size(phone-only) {
            width: 20px;
          }
        }

        p {
          color: white;
        }

        &:hover,
        &.__active {
          //   background: white;
          p {
            font-weight: bold;
          }
        }

        &.__active {
          box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
          background: color(secondary);
        }
      }
    }
  }
}
