@import '../../media';

.side_nav {
  .link-sec {
    .link-item {
      @apply py-2 px-8 mb-2.5 relative text-sm;

      &::before {
        content: '';
        @apply absolute left-0 h-0 transform -translate-y-1/2 bg-secondary w-1 top-auto bottom-0 transition-all duration-300;
      }

      svg {
        @apply fill-current text-black mr-3 w-5 h-5;
      }

      p {
        color: white;
      }

      &:hover,
      &.__active {
        @apply text-theme;

        &::before {
          @apply h-1/2 top-1/2 bottom-auto;
        }

        p {
          font-weight: bold;
        }

        svg {
          @apply text-theme;
        }
      }

      &.__active {
      }
    }
  }
}
