@import '../../media';

.edit-desc,
.no-edit {
  position: relative;

  .currentValue {
    p {
      color: color(theme) !important;
      padding: 5px;
    }
  }

  .btn-sec {
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;
  }
}

.edit-desc {
  .publish {
    display: flex;
    justify-content: space-between;
    // margin: 0 50px 20px;

    button {
      border: 1px solid color(theme);
      padding: 5px 15px;
      border-radius: 40px;
      margin-left: 20px;
    }
  }
}

.no-edit {
  .codex-editor {
    display: none;
  }

  [contenteditable='true'],
  .ce-block--focused {
    background: none;
  }

  .ce-toolbar__plus,
  .ce-toolbar__actions {
    display: none;
  }
}

.ce-block__content {
  margin: unset;
  font-size: 0.9em;
}

.codex-editor__redactor {
  padding-bottom: 100px !important;
}

.cdx-block {
  padding: 0.25em 0;
}

.ce-paragraph {
  line-height: 1.5;
}

.ce-block__content {
  li {
    padding: 5.5px 0 5.5px 3px;
    line-height: 1.6em;
  }
}

.cdx-list--unordered {
  li {
    list-style: disc;
  }
}
.cdx-list--ordered {
  li {
    list-style: decimal;
  }
}
