@import "../../media";

.cl_crd {
  //   height: 500px;
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px;

  &.smaller {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    height: 250px;

    @include for-size(tablet-portrait-up) {
      box-shadow: 0px 25px 30px -25px rgba(0, 0, 0, 0.1);
    }

    @include for-size(phone-only) {
      height: auto;
      flex-direction: column;
    }

    .img-sec {
      width: 35%;

      @include for-size(tablet-portrait-up) {
        height: 70%;
      }

      @include for-size(phone-only) {
        height: 270px;
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .text_cont {
      flex-direction: row;
      width: 65%;
      height: unset;
      @include for-size(phone-only) {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
      }

      .text-sec {
        margin-bottom: 0;
        height: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
      }
    }

    .en_rl {
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      @include for-size(phone-only) {
        flex-direction: row;
        margin-top: 20px;
      }
    }
  }

  .img-sec {
    // height: 45%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
  }

  .text_cont {
    padding: 20px;
    height: 55%;

    @include for-size(tablet-portrait-up) {
      padding: 0px 0px 10px 10px;
    }

    .text-sec {
      margin-bottom: 20px;
      flex-grow: 1;
      h2 {
        font-size: 1.1em;
        margin-bottom: 20px;
        color: color(theme);
        @include for-size(phone-only) {
          font-size: 1em;
          margin-bottom: 10px;
        }
      }
      p {
        font-size: 0.8em;
      }

      .c_inf {
        margin: 10px 0;
        flex-wrap: wrap;
        max-width: 300px;

        @include for-size(tablet-portrait-up) {
          max-width: 220px;
        }
        small {
          color: color(theme);
          font-size: 0.7em;
          white-space: nowrap;
          margin-right: 5px;
        }
      }

      .ext {
        font-weight: 600;
        color: color(theme);
        @include for-size(phone-only) {
          font-size: 0.9em;
        }
      }
    }
  }

  .en_rl {
    width: 100%;

    .cst {
      color: color(theme);
      font-weight: 600;
      @include for-size(phone-only) {
        font-size: 0.9em;
      }
    }

    .link {
      font-size: 0.9em;
      @include for-size(tablet-portrait-up) {
        font-size: 0.8em;
      }
      a {
        color: white;
      }
    }
  }
}
