@import "../../media";

.purchase {
  min-height: 100vh;
  .nav {
    height: 80px;

    a {
      img {
        width: 100px;
      }
    }
  }

  .hd {
    margin-top: 40px;
  }

  .purchase_con {
    flex-grow: 1;

    .nav {
      margin-bottom: 20px;
      .nav-item {
        padding: 0 30px 10px;
        border-bottom: 1px solid color(fade);
        transition: 0.3s ease;
        transform-origin: left;

        &[data-active="true"] {
          font-weight: 900;
          border-bottom: 2px solid color(secondary);
        }

        cursor: pointer;
        p {
          pointer-events: none;
        }
      }
    }
  }
}
