@import '../../media';

$distance: 0px;
%selected {
  color: white !important;
  background: color(theme);
}

.input-div {
  input[type='date']::before {
    @apply absolute bg-inherit w-3/5;
    content: attr(placeholder);
  }

  input[type='date']:focus::before,
  input:not([value=''])::before {
    content: '' !important;
    background: none;
  }

  .t_label {
    @apply mb-2 inline-block text-xs text-light-theme;
  }

  &.check {
    width: auto;
  }

  input[type='checkbox'] {
    @apply block w-auto mr-2.5;
  }

  input[type='checkbox'] + label {
    @apply text-xs;
  }

  .input-type {
    @apply w-full text-base bg-white text-txt py-2.5 px-5 pl-8 rounded-md relative border border-light_shade;

    &::-webkit-input-placeholder {
      @apply font-light text-txt opacity-80;
    }

    &.PhoneInput {
      @apply p-0 overflow-hidden;

      input {
        @apply border-none text-txt text-base py-2.5;
      }

      .PhoneInputCountry {
        background: #f3f3fb;
        @apply px-3;
      }

      .PhoneInputCountryIcon--border {
        box-shadow: unset;
        background-color: unset;
      }
    }

    .select {
      .search-input {
        &::before {
          content: '';
          position: absolute;
          top: -11px;
          left: -8px;
          width: calc(100% + 16px);
          height: 10px;
          background: white;
        }

        input {
          border: none;
        }
      }

      .currentValue {
        p {
          padding-right: 10px;
        }

        &::after {
          content: '\25BC';
          font-size: 0.9em;
          color: color(theme);
        }

        img {
          margin-left: 10px;
          width: 10px;
          height: 15px;
        }
      }

      .dropDownButtons {
        min-width: 250px;
        max-height: 400px;
        left: -30px;
        box-shadow: 0 0 5px rgba(#000, 0.1);
        transition: visibility 0.4s ease, top 0.3s ease, opacity 0.2s ease;
        transform-origin: top;

        @include for-size(tablet-landscape-up) {
          overflow: scroll;
          ::-webkit-scrollbar {
            display: none;
          }
        }

        &:hover {
          overflow-y: scroll;
        }

        .options {
          &:hover {
            @extend %selected;
            background: rgba(color(theme), 0.1);
          }
        }

        .selected {
          @extend %selected;
        }
      }

      .open-drop {
        // transform: scale(1, 1);
        top: 0%;
        visibility: visible;
        opacity: 1;
      }
    }

    .open-drop {
      + .place-holder {
        + span {
          transform: scale(1);
        }
      }
    }

    .invalid {
      + .place-holder {
        + span {
          transform: scale(1);
          background: orangered;
        }
      }
    }

    .typing,
    .valid {
      + .place-holder {
        bottom: calc(70%);
        font-size: 0.8em;
        + span {
          transform: scale(1);
        }
      }
    }

    .invalid {
      ~ span {
        background: orangered;
      }
    }
  }

  .reviel-password {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 35px;
    top: 9.5px;
    cursor: pointer;

    svg {
      fill: rgba(white, 0.7);
      stroke: rgba(white, 0.7);
      width: 100%;
      height: 100%;
    }
  }

  .error {
    width: 100% !important;
    margin-top: 2px;
    margin-left: 5px;
    font-size: 0.8em;
    color: #ee9f82 !important;
  }
}
