@import '../../../media';

.sign_up {
  .form {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, calc(50% - 5px));
    column-gap: 10px;

    @include for-size(phone-only) {
      display: block;
    }

    .input-div,
    .btn_sec_sm {
      &:nth-child(3),
      &:nth-child(10) {
        grid-column: 1/3;
      }
    }
  }
}
