@import '../../media';

.cx_listnx_con {
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 900px;
  margin-bottom: 10px;

  .hx-main {
    border-bottom: 0.5px solid #979797;
    margin-bottom: 10px;
    cursor: pointer;

    &.full {
      border-bottom: none;

      h2 {
        &:after {
          content: '';
        }
      }
    }
  }

  .h_con {
    color: color(theme);
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    position: relative;
    font-size: 1em;

    .edit {
      pointer-events: all !important;
    }

    .edit_btns {
      a {
        margin-left: 20px;
        font-size: 0.8em;
        color: color(theme);
        white-space: nowrap;
      }
    }

    span {
      width: 90%;
      @include for-size(phone-only) {
        font-size: 0.85em;
      }
    }

    img {
      width: 30px;
      margin-right: 30px;

      @include for-size(phone-only) {
        margin-right: 10px;
      }
    }
  }

  .cx_lis-content {
    padding-left: 60px;
    background-color: white;
    transition: 0.4s ease-in-out;
    // margin-bottom: 30px;
    max-width: 800px;

    &.full {
      padding: 0;
      margin-bottom: 0;
    }

    .inf_x {
      h3 {
        font-size: 1em;
        margin-bottom: 10px;
      }

      p {
        font-size: 0.9em;
      }
    }

    .btns {
      margin-top: 30px;

      .reg_text {
        margin-top: 30px;
        h4 {
          margin-bottom: 20px;
        }

        .btn_sec_con {
          @include for-size(phone-only) {
            flex-direction: column;
            align-items: flex-start;

            .btn_sec {
              &:first-child {
                margin-bottom: 20px;
              }
            }
          }
        }

        .btn_sec {
          &:first-child {
            margin-right: 30px;
          }
        }
      }
    }

    .view {
      display: inline-block;
      margin-top: 30px;
      color: color(theme);
      font-weight: bold;
      border-bottom: 1px solid color(theme);
      font-size: 0.8em;
    }
  }

  .class_file_con {
    background: white;
    width: 90vw;
    max-width: 600px;
    border-radius: 10px;

    .box-shade {
      &[data-open='true'] {
        margin: 20px;
      }
    }

    .info_con_sec {
      height: 300px;
    }

    h3 {
      text-align: center;
      padding: 20px;
    }
  }
}
