@import '../../media';

.cx_listnx_con {
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 900px;
  margin-bottom: 15px;

  &.greyed {
    filter: grayscale(90%);
  }

  .hx-main {
    border-bottom: 0.5px solid rgba(#000, 0.1);
    padding-bottom: 5px;
    cursor: pointer;

    &.full {
      border-bottom: none;

      h2 {
        &:after {
          content: '';
        }
      }
    }
  }

  .h_con {
    color: color(theme);
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    position: relative;
    font-size: 1em;

    .edit {
      pointer-events: all !important;
    }

    .edit_btns {
      a {
        margin-left: 20px;
        font-size: 0.8em;
        color: color(theme);
        white-space: nowrap;
      }
    }

    span {
      width: 85%;
      white-space: wrap;
      @include for-size(phone-only) {
        font-size: 0.85em;
      }
    }

    img {
      width: 30px;
      margin-right: 30px;

      @include for-size(phone-only) {
        margin-right: 10px;
      }
    }
  }

  .cx_lis-content {
    padding-left: 60px;
    background-color: white;
    transition: 0.4s ease-in-out;
    padding-top: 20px;
    max-width: 800px;

    &.full {
      padding: 20px 0 0;
      margin-bottom: 0;
    }

    .inf_x {
      h3 {
        font-size: 1em;
        margin-bottom: 10px;
      }

      p {
        font-size: 0.9em;
      }
    }

    .btns {
      margin-top: 30px;

      .reg_text {
        margin-top: 30px;
        h4 {
          margin-bottom: 20px;
        }

        .btn_sec_con {
          @include for-size(phone-only) {
            flex-direction: column;
            align-items: flex-start;

            .btn_sec {
              &:first-child {
                margin-bottom: 20px;
              }
            }
          }
        }

        .btn_sec {
          &:first-child {
            margin-right: 30px;
          }
        }
      }
    }

    .view {
      display: inline-block;
      margin-top: 30px;
      color: color(theme);
      font-weight: bold;
      border-bottom: 1px solid color(theme);
      font-size: 0.8em;
    }
  }

  .class_file_con {
    background: white;
    width: 90vw;
    max-width: 600px;
    border-radius: 10px;
    padding: 5px;
    min-width: 250px;

    .box-shade {
      &[data-open='true'] {
        margin: 20px;
      }
    }

    .info_con_sec {
      height: 300px;
    }

    h3 {
      text-align: center;
      padding: 20px;
      color: color(text);
    }
  }
}

.prev_vid_cn {
  width: 100%;
  nav {
    svg {
      width: 30px;
      height: 30px;
      fill: color(theme);
      cursor: pointer;
    }
  }

  .prevForm {
    max-height: 0;
    overflow: hidden;
    transition: 0.1s ease;
    &[data-active='true'] {
      max-height: 400px;
    }

    .form_sec {
      flex-wrap: wrap;
      margin-top: 20px;
    }

    .input-div {
      max-width: 500px;
      min-width: 250px;
      margin-right: 5px;
    }

    .btn {
      min-width: unset;
      width: auto;
      box-shadow: 0px 2px 5px rgba(160, 121, 0, 0.2);
      height: 42px;
    }
  }

  .frame_sec {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(#{'min(250px, 100%)'}, 1fr)
    );
    width: 100%;
    grid-gap: 30px;
    margin-top: 20px;

    .frame_con {
      width: 100%;
      padding-bottom: 56.25%;
      position: relative;
      transition: 0.3s ease;

      &:hover {
        &.allowHover {
          padding-top: 15px;

          .rm {
            top: -20px;
          }
        }
      }

      .rm {
        position: absolute;
        top: 10%;
        right: 0%;
        width: 30px;
        height: 30px;
        transition: 0.1s ease;
        cursor: pointer;
      }

      svg {
        width: 30px;
        height: 30px;
        fill: color(theme);
      }
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
    }
  }
}

.modal-pnt {
  width: 90vw;
  max-width: 1000px;

  .modal-chl {
    width: 90%;
    padding: 30% 0;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      top: 0;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    color: #000;
    font-size: 2em !important;
  }
}
