.c_card {
  height: 200px;
  background: #58a;
  border-radius: 10px;
  padding: 30px 40px;
  //   flex-grow: 1;
  width: 30%;

  .img-sec {
    width: 100%;
    flex-grow: 1;

    p {
      font-size: 3em;
      font-weight: bold;
    }

    .img_con {
      background: white;
      padding: 20px;
      border-radius: 100%;
    }
  }

  &:nth-child(1) {
    background: rgba(18, 12, 100, 0.05);
  }

  &:nth-child(2) {
    background: rgba(251, 175, 27, 0.05);
  }

  &:nth-child(3) {
    background: rgba(9, 172, 35, 0.05);
  }
}
