@import '../../media';

.p_sec_admin {
  margin-bottom: 100px;
  @include for-size(tablet-portrait-up) {
    flex-direction: column;
    align-items: flex-start;
  }

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{'min(350px, 100%)'}, 1fr));
  grid-gap: 30px;
  margin-bottom: 100px;

  .next_class {
    height: 180px;
    width: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;

    .main_img {
      width: 50%;
      height: 100%;
      border-radius: 5px;

      @include for-size(phone-only) {
        height: unset;
        max-height: 100%;
        width: 40%;
      }
    }

    .text-sec {
      width: 70%;
      padding: 4%;
      height: 100%;

      @include for-size(phone-only) {
        padding-left: 10px;
      }

      h2 {
        color: color(theme);
        font-size: 1.1em;

        @include for-size(smaller-desktop) {
          font-size: 0.9em;
        }
      }
    }

    .info_sec {
      // margin: 10px 0;
      min-width: 70%;

      .info {
        margin-bottom: 2px;

        strong {
          flex-wrap: wrap;
        }
        small {
          white-space: nowrap;
        }
      }
    }
  }

  .p_btn {
    font-size: 0.75em;
    padding: 5px 20px;
    // max-width: 100px;
    min-width: auto;
    min-height: auto;
  }
}
