@import '../../media';

.add_ass {
  width: 100%;

  .h_con {
    margin-bottom: 30px;
  }

  form {
    @include for-size(smaller-desktop) {
      flex-direction: column-reverse;
      padding-left: 20px;
    }
  }

  .desc_se {
    width: 500px;
    margin: 0 70px 50px 0;

    @include for-size(smaller-desktop) {
      margin-right: 0px;
      width: 100%;
    }

    .in_sec {
      margin-bottom: 20px;
      label {
        margin-bottom: 10px;
        display: block;
        font-weight: bold;
      }

      &.emp-fil {
        .info_con_sec {
          height: auto;
        }
      }

      .info_con_sec {
        height: 200px;
        overflow: hidden;
      }

      .upbtn {
        box-shadow: none;
      }
    }
  }

  .cx-specs {
    margin: 32px 15px 0 0;
    padding: 10px;

    @include for-size(smaller-desktop) {
      margin: 0 0 40px 0;
    }

    .pl_sec {
      margin-bottom: 20px;
      justify-content: space-between;

      dt {
        margin-right: 20px;
        display: block;
        font-size: 0.9em;
        white-space: nowrap;
      }

      .btn {
        width: 170px;
        min-width: unset;
      }

      .input-div {
        margin-bottom: 0;
        min-width: unset;
        width: 170px;

        .input-type {
          background: white;
          border: 1px solid #e0e4ea;
          padding-left: 10px;
          font-size: 0.9em;
        }
      }
    }
  }
}
