@import "../../media";

.fac_xc {
  height: 100%;
  background: color(secondary);
  border-radius: 10px;
  margin-left: 40px;
  padding: 20px;
  max-width: 500px;

  @include for-size(smaller-desktop) {
    margin: 30px 0;
  }

  @include for-size(phone-only) {
    padding: 20px 10px;
  }

  .fac_xc_con {
    position: relative;
    height: 150px;

    @include for-size(desktop-up) {
      height: 100px;
    }
  }

  .fac_xc_sec {
    width: auto;
    flex-grow: 1;
    position: absolute;
    // height: 100%;

    .img-sec {
      border-radius: 100%;
      overflow: hidden;
      width: 100px;
      height: 100px;
      margin-right: 30px;

      @include for-size(phone-only) {
        margin: 10px;
        width: 80px;
        height: 80px;
      }
    }

    .text_sec {
      color: white;
      h2 {
        margin: 0 0 7px;
      }

      @include for-size(desktop-up) {
        p {
          font-size: 0.8em;
        }

        h2 {
          font-size: 1em;
        }

        h3 {
          font-size: 0.9em;
        }
      }
    }

    &.slide-enter {
      opacity: 0;
      transform: translate(50%, 0);
    }

    &.slide-enter-active,
    &.slide-enter-done {
      opacity: 1;
      transform: translate(0, 0);
      transition: transform 0.3s ease, opacity 0.1s ease;
    }

    &.slide-exit {
      opacity: 0;
    }
  }
}

.dots_con {
  z-index: 5;
  flex-wrap: wrap;

  &.v_dots {
    flex-direction: column;
    width: auto;

    .dot_button {
      .dot {
        width: 8px;
        height: 8px;
        transition: 0.3s ease;
        &[data-active="active"] {
          background: red;
        }
      }
    }
  }

  .dot_button {
    padding: 5px 5px;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: white;
      border-radius: 100%;

      &[data-active="active"] {
        background-color: color(theme);
        border: none;
      }
    }
  }
}
