@import '../../../../media';

.cx_list_con {
  width: 100%;

  .nt_found {
    flex-grow: 1;

    img {
      width: 200px;
    }

    .text {
      margin: 10px 0 40px;
    }

    button {
      max-width: 400px;
    }
  }

  .loader_con_main {
    flex-grow: 1;
  }
}

.course_list {
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
  position: relative;

  @include for-size(desktop-up) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include for-size(smaller-desktop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-size(phone-only) {
    grid-template-columns: 1fr;
  }
}
