@import "../../../../media";

.course_list {
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;

  @include for-size(desktop-up) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include for-size(smaller-desktop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-size(phone-only) {
    grid-template-columns: 1fr;
  }

  .p_cx_cd {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 100%;
    border-radius: 10px;

    .img-sec {
      height: 250px;
      margin-bottom: 20px;

      img {
        border-radius: 10px;
      }
    }

    .txt-sec {
      padding: 20px;

      .title_sec {
        margin-bottom: 20px;

        img {
          width: 30px;
        }
      }

      .slim {
        height: 2px;
        margin: 2px 0 20px;

        .react-sweet-progress-line {
          height: 100%;

          .react-sweet-progress-line-inner {
            height: 100%;
            min-height: unset;
          }
        }

        .react-sweet-progress-symbol {
          display: none;
        }
      }

      .grade {
        button {
          color: color(secondary);
        }
      }
    }
  }
}
