@import '../../media';

.g_tbl {
  width: 100%;
  overflow-x: auto;
  min-height: 500px;
  flex-grow: 1;

  table {
    // min-width: 1000px;
    width: 100%;
    border-collapse: collapse;

    .tb-btn {
      min-width: unset;
      min-height: unset;
      padding: 5px 10px;
      border-radius: 20px;
      p {
        font-size: 0.8em;
      }
    }

    tbody {
      display: block;
      max-height: 600px;
      overflow: auto;
    }

    thead,
    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
      /* even columns width , fix width of table too*/
    }

    thead {
      th {
        padding: 20px;
      }
      border-bottom: 2px solid color(light_fade);
    }

    th,
    td {
      // min-width: 150px;

      text-align: left;
      padding: 12px 20px;
      font-size: 0.85em;
    }

    tr {
      &:nth-child(even) {
        background: color(light_fade);
      }

      .usr-img {
        img {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          margin-right: 10px;
        }
      }
    }
  }
}
