@import "../../../media";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100px;

  .dh-aside {
    height: 100% !important;
    z-index: -20;
  }
}

.dash-nav {
  height: 100px;
  flex-grow: 1;
  overflow: hidden;
  padding: 0 3% 2px;
  position: relative;

  @include for-size(phone-only) {
    padding: 0 0 2px;
  }

  .be-white {
    width: 100%;
    flex-grow: 1;
    background: white;
  }

  .nav-contents {
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background: white;
    padding: 0 30px;
    height: 80px;

    @include for-size(tablet-landscape-up) {
      width: calc(100vw - 7%);
    }

    @include for-size(phone-only) {
      width: 100vw;
    }
  }

  .nav-icons {
    .nav {
      margin-right: 20px;
      cursor: pointer;
      width: 35px;
      display: none;

      @include for-size(tablet-landscape-up) {
        display: block;
      }
    }
  }

  .logo {
    width: 80px;

    @include for-size(phone-only) {
      width: 40px;
    }
  }

  .info {
    .bell {
      width: 30px;
      margin-right: 20px;

      @include for-size(phone-only) {
        width: 25px;
      }
    }
  }
}
