@import '../../media';

.info_con {
  position: relative;
  height: 100%;

  .file_sec {
    width: 100%;
  }

  .add_file {
    position: sticky;
    bottom: -10px;
    left: 0;
    background: white;

    > div {
      background: rgba(color(theme), 0.1);
      border-radius: 10px;
    }
  }
}

