@import '../../../media';

.social {
  margin-top: 50px;

  .head {
    height: 50px;
    position: relative;

    p {
      background: white;
      padding: 0 20px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        width: 100%;
        left: 0;
        height: 1px;
        background: #aaa4a4;
        z-index: -1;
      }
    }
  }

  .btn_sec {
    button {
      background: color(light);
      // width: 43%;
      padding: 10px 20px;
      border-radius: 5px;

      p {
        color: color(text);
        @include for-size(phone-only) {
          font-size: 0.8em;
        }
      }
      img {
        width: 25px;
        margin-right: 20px;

        @include for-size(phone-only) {
          margin-right: 10px;
        }
      }
    }
  }
}
