@import '../../media';

.btn {
  border: none;
  width: 100%;
  min-width: 200px;
  fill: white;
  display: flex;
  // padding: 10px 10px;
  align-items: center;
  min-height: 35px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease 0.2s;
  overflow: hidden;

  background: color(secondary);
  // padding: 12px;
  border-radius: 5px;
  box-shadow: 0px 6px 10px rgba(160, 121, 0, 0.2);

  &.short {
    width: auto;
  }

  p {
    color: white;
  }

  &::before {
    content: '';
    position: absolute;
    transition: all 0.3s ease;
    background: rgba(white, 0.3);
    width: 300%;
    height: 300%;
    top: -150%;
    left: -100%;
    border-radius: 100% 0 0 0;
    opacity: 0;
    transform-origin: bottom right;
    transform: translate(50%, 40%);
  }

  &:hover {
    box-shadow: 1px 1px 4px rgba(black, 0.5);
  }

  &.no-hover {
    &:hover {
      box-shadow: none;
    }
  }

  &:focus {
    &::before {
      opacity: 1;
      transform: translate(0);
      box-shadow: 1px 1px 4px rgba(black, 0.5);
    }
  }
}
